.contact {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactContainer {
    width: 100%;
    margin-top: 6rem;
    max-width: 1380px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.contactTop {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactTop h3 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 28px;
    color: #14274A;
}

.contactTop p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #14274A;
}

.contactBottom {
    display: flex;
    justify-content: space-between;
}

.contactAddress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactAddress h2 {  
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #14274A;

}

.viewMap {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.text {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #14274A;
}

.arrow {
    font-size: 28px;
    color: #14274A;
}

.contactInfo p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #14274A;
}

.contactSub h2 {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #14274A;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    width: 400px;
}

.formInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contactSub label {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #14274A;
}

.contactSub input {
    font-size: 16px;
    border:  2px solid rgba(20, 39, 74, 0.5);
    padding: 6px 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #14274A;
    outline: none;
    background-color: #FFFFFF;
}

.contactSub textarea {
    resize: none;
    width: 100%;
    font-size: 16px;
    border:  2px solid rgba(20, 39, 74, 0.5);
    padding: 6px 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #14274A;
    outline: none;
    background-color: #FFFFFF;
}

.contactSub input:focus,
.contactSub textarea:focus {
    border:  3px solid rgba(20, 39, 74, 0.6);
}


 .contactSub button {
    background-color: #E0B973;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    border: none;
    padding: 0.25em 0.5em;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    color: #FFFFFF;

}

@media screen and (min-width:2000px) {
    .contactContainer {
        max-width: 1980px;
    }

    .contactTop h3 {
        font-size: 66px;
    }

    .contactTop p {
        font-size: 38px;
    }

    .contactAddress h2
     {
        font-size: 48px;
    }

    .text {
        font-size: 48px;
    }

    .arrow {
        font-size: 48px;
    }

    .contactInfo p {
        font-size: 38px;
    }

    .contactSub h2 {
        font-size: 48px;
        margin-bottom: 1.5rem;
    }

    .form {
        width: 800px;
        gap: 1.5rem;
    }

    .formInput {
        gap: 10px;
    }

    .contactSub label {
        font-size: 34px;
    }

    .contactSub input,
    .contactSub textarea {
        font-size: 28px;
        padding: 25px 10px;
    }

    .contactSub button {
        font-size: 38px;
        padding: 20px 25px;
    }
}

@media screen  and (max-width:1550px) {
    .contactContainer {
        max-width: 1024px;
        margin-top: 4rem;
        gap: 2rem;
    }

    .contactTop {
        gap: 0.75rem;
    }

    .contactTop  h3{
        font-size: 26px;
    }


    .contactTop p {
        font-size: 16px;
    }

    .contactAddress h2,
    .text,
    .arrow {
        font-size: 20px;
    }

    .contactInfo p {
        font-size: 18px;
    }

    .contactSub h2 {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .form {
        width: 320px;
        gap: 0.75rem;
    }

    .formInput {
        gap: 3px;
    }

    .contactSub label {
        font-size: 14px;
    }

    .contactSub input,
    .contactSub textarea {
        font-size: 13px;
        padding: 4px 8px;
    }

    .contactSub button {
        padding: 5px 10px;
        font-size: 14px;
    }
}

@media screen and (max-width:1150px) {
    .contactContainer {
        max-width: 850px;
        margin-top: 3rem;
        
    }

    .contactTop h3 {
        font-size: 24px;
    }

    .contactTop p {
        font-size: 14px;
    }

    .contactAddress h2,
    .text,
    .arrow {
        font-size: 18px;
    }

    .contactInfo p {
        font-size: 16px;
    }

    .contactSub h2 {
        font-size: 18px;
        margin-bottom: 0.5rem;
    }

    .form {
        width: 280px;
        gap: 0.5rem;
    }

    .formInput {
        gap: 2px;
    }

    
}

@media screen and (max-width:850px) {
    .contactContainer {
        width: 90%;
        gap: 2rem;
    }

    .contactBottom {
        flex-direction: column;
        gap: 1.5rem;
    }

    .contactAddress {
        gap: 1rem;
    }

    .form {
        width: 60%;
    }

    .contactSub label {
        font-size: 16px;
    }

    .contactSub input,
    .contactSub textarea {
        font-size: 16px;
        padding: 2px;

    }
    
}

@media screen and (max-width:550px) {
    .contactContainer {
        margin-top: 2rem;
        gap: 2rem;
    }

    .contactTop {
        gap: 0.2rem;
    }

    .contactTop h3 {
        font-size: 18px;
    }

    .contactTop p {
        font-size: 12px;
    }

    .contactAddress {
        gap: 0.5rem;
    }

    .contactAddress h2,
    .text,
    .arrow {
        font-size: 14px;
    }

    .contactInfo p {
        font-size: 12px;
    }

    .contactSub h2 {
        font-size: 14px;
    }

    .form {
        width: 100%;
    }

    .contactSub label {
        font-size: 16px;
        font-weight: 500;
    }

    .contactSub input, 
    .contactSub textarea {
        font-size: 18px;
        border: 1.5px solid rgba(20, 39, 74, 0.5);
    }

    .contactSub button {
        font-size: 16px;
        padding: 4px 8px;
    }
}

@media screen and (max-width:385px) {
    .contactContainer {
        margin-top: 1.5rem;
        gap: 1.5rem;
    }

    .contactTop {
        gap: 0.5rem;
    }
}