.small {
    width: 100vw;
    height: 30vh;
    background-color: #14274A;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.smallText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}

.smallText h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    color: #FFFFFF;

}


@media screen and (min-width:2000px) {

    .smallText  {
        margin-top: 20rem;
    }

    .smallText h3 {
        font-size: 60px;
    }
}

@media screen and (max-width: 1550px) {
    .smallText h3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1150px) {
    .small {
        height: 45vh;
    }

    .smallText h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 850px) {
    .small {
        height: 25vh;
    }

    .smallText h3 {
        font-size: 28px;
    }
}

@media screen and (max-width: 550px) {
    .smallText{
       margin-top: 7rem; 
    }

    .smallText h3 {
        font-size: 22px;
    }
}

@media screen and (max-width: 385px) {
    .small{
        height: 30vh;
    }
}
    